html,
body {
    height: 100%;
    width: 100%;
}

#parent {
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;    
}

#child1 {
    background-color: crimson;
    border: 2px solid white;
    height: 100px;
    width: 200px;
    justify-self: center;
    align-self: center;
}

#child2 {
    background-color: orange;
    border: 2px solid white;
}

#child3 {
    background-color: brown;
    border: 2px solid white;
}

#child4 {
    background-color: blue;
    border: 2px solid white;
}